<h1><%= post.id %>: <%= post.title %></h1>
<div id="body-<%= post.id %>"><%= truncate post.description %></div>
<button class="js-more" data-id="<%= post.id %>">More...</button>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    let id = $(this).data("id");
    $.get("/posts/" + id + "/body", function(data) {
      alert(data);
    });
  });
});
</script>
